<!-- Generated template for the InformacionTarifasComponent component -->
<div class="InfTafGlo">
    <label class="InfTafCont">Tarifas de estadía</label>
    <ion-row class="InfTafCont" *ngFor="let tarifa of ArrayTaf">    
      <ion-col class="InfTafEspeciales">      
        <label>{{tarifa.TAFdescripcion}}</label>
      </ion-col>
      <ion-col style=" text-align: right;">
        <label>{{tarifa.TAFvalorEstandar | currency:'USD':true:'.0'}}</label>
      </ion-col>
    </ion-row>
  </div>
