informacion-tarifas {
    
    .InfTafGlo{
        background-color: #510000;
        font-weight: bold;        
    }

    .InfTafEspeciales{
        font-size: 12px;
        color: #9C9C9C;
        padding-left: 5px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin: auto;
    }

    
    .InfTafCont{
        padding-left: 10px;
        padding-right: 10px;
    }
}
