<!-- Generated template for the ItemEstablecimientoComponent component -->
<div class="ItEstGlo">
    <img src="{{ESTitem.ESTfotoPrincipal}}" class="ItEstImg">
        <ion-row class="ItEstCont">
            <ion-col style="text-align: left; ">
                <label>{{ESTitem.ESTnombre}}</label>
                <!-- <ion-label stacked>sublime</ion-label> -->
                <ion-label>
                    <img src="assets/icon/cityscape.png">
                    <label class="ItEstEspeciales"> Bogota D.C, Chapinero </label>
                </ion-label>
            </ion-col>
            <ion-col style="text-align: right">
                <label class="ItEstEspeciales"> desde </label> $ 120.000
                <ion-label>                    
                    <img src="assets/icon/location-pin.png">
                    <label class="ItEstEspeciales"> 12 KM</label>
                </ion-label> 
            </ion-col>
        </ion-row>
</div>