<ion-row  style="margin: auto ; text-align: center">
  <ion-col >
  <button ion-button icon-left round style="background-color: dodgerblue"  (click)="abrirLista()">
    <ion-icon name="list-box"></ion-icon>
    Lista
  </button>
</ion-col>
<ion-col >
  <button ion-button icon-left round style="background-color: midnightblue"  (click)="abrirMapa()" >
      <ion-icon name="md-globe"></ion-icon>
      <!-- <ion-icon ><img ion-fab mini src="assets/icon/local-search.png"></ion-icon> -->
      Mapa
    </button>
  </ion-col>
</ion-row>