<!-- Generated template for the InformacionHabitacionComponent component -->
<div class="InfHabGlo">
  <ion-row class="InfHabCont">
    <ion-col style="max-width: 30px;">
      <img src="assets/icon/love.png">
    </ion-col>
    <ion-col class="InfHabEspeciales">
      <label>{{HABinf.HABcantPersonas}} personas incluidas en la tarifa</label>
    </ion-col>
  </ion-row>
  <ion-row class="InfHabCont">
    <ion-col style="max-width: 30px;">
      <img src="assets/icon/social-services.png">
    </ion-col>
    <ion-col class="InfHabEspeciales">
        <label>Capacidad para {{HABinf.HABcantPersonasMax}} personas maximo</label>
    </ion-col>
  </ion-row>
</div>
<br>