<!-- Generated template for the InformacionHabitacionComponent component -->
<div class="InfHabGlo">
  <ion-row class="InfHabCont">
    <ion-col style="max-width: 40px;">
      <img src="assets/icon/love24.png">
    </ion-col>
    <ion-col class="InfHabEspeciales">
      <ion-label>{{HABinf.HABcantPersonas}} personas incluidas en la tarifa</ion-label>
    </ion-col>
  </ion-row>
  <ion-row class="InfHabCont">
    <ion-col style="max-width: 40px;">
      <img src="assets/icon/social-services.png">
    </ion-col>
    <ion-col class="InfHabEspeciales">
        <ion-label>Capacidad para {{HABinf.HABcantPersonasMax}} personas maximo</ion-label>
    </ion-col>
  </ion-row>
</div>
<br>