informacion-habitacion {
    .InfHabEspeciales{
        font-size: 12px;
        color: #9C9C9C;
        padding-left: 5px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin: auto;
    }

    .InfHabCont{
        padding-left: 10px;
        padding-right: 10px;
    }

    .InfHabGlo{
        background-color: #510000;
        font-weight: bold;
        
    }
}
