<!-- Generated template for the InformacionComplementosComponent component -->
<div>
    <ion-row>
      <ion-col style="max-width: 50px;" class="InfComCont">
        <label ion-fab mini><img  src="assets/icon/parking.png" class="InfComImg"></label>
      </ion-col>
      <ion-col class="InfComDescripcion"><label>Parqueadero</label></ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="max-width: 50px;"   class="InfComCont">
          <label ion-fab mini><img  src="assets/icon/flatscreen-tv.png" class="InfComImg"></label>
        </ion-col>
        <ion-col class="InfComDescripcion"><label>Tv</label></ion-col>
    </ion-row>
</div>
