informacion-complementos {
    .InfComDescripcion {
        //padding: 0px;
        font-size: 12px;
        margin: auto;
    }

    .InfComCont{
        padding: 0px;
        
    }

    .InfComImg{
        margin: auto;
        width: 70%;
        height: 70%;
    }
}
