informacion-entretenimiento {
    .InfEntDescripcion {
        font-size: 12px;
        margin: auto;
    }

    .InfEntCont{
        padding: 0px;
        
    }

    .InfEntImg{
        margin: auto;
        width: 70%;
        height: 70%;
    }
}
