<!-- Generated template for the InformacionEntretenimientoComponent component -->
    <ion-row>
      <ion-col style="max-width: 50px;" class="InfEntCont">
        <label ion-fab mini><img  src="{{ENTinf.ENTfoto}}" class="InfEntImg"></label>
      </ion-col>
      <ion-col class="InfEntDescripcion"><label>{{ENTinf.ENTdescripcion}}</label></ion-col>
    </ion-row>
    <!-- <ion-row>
        <ion-col style="max-width: 50px;"   class="InfEntCont">
          <label ion-fab mini><img  src="assets/icon/flatscreen-tv.png" class="InfEntImg"></label>
        </ion-col>
        <ion-col class="InfEntDescripcion"><label>Tv</label></ion-col>
    </ion-row> -->