view-establecimiento {
    .EstContent{
        color: black;
        max-width: 100%;
    }

    .VwEstImg{
        margin: auto;
        width: 100%;
        height: 200px;
        border-radius: 8px;
    }
}
