<!-- Generated template for the ItemHabitacionComponent component -->
<div class="ItHabGlo">
      <ion-row class="ItHabCont">
          <ion-col style="text-align: left;">
          <img src="{{HABitem.HABfotoPrincipal}}" class="ItHabImg">
          </ion-col>  
          <ion-col style=" max-width: 35%;">
              <ion-label>{{HABitem.HABtipo}}</ion-label>
              <ion-label>{{HABitem.HABtarifaEstandar | currency:'USD':true:'.0'}}</ion-label> 
          </ion-col>
      </ion-row>
</div>  