<!-- Generated template for the ItemEstablecimientoComponent component -->
<div class="ItEstGlo">
    <img src="{{fotoPrincipal}}" class="ItEstImg">
    <ion-row class="ItEstCont">
        <ion-col style="text-align: left; ">
            <label>{{ESTitem.ESTnombre}}</label>
        </ion-col>
        <ion-col style="text-align: right; max-width: 40%;">
            <label class="ItEstEspeciales"> desde </label> $ 120.000 
            <!--{{ | currency:'USD':true:'.0'}} -->
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="max-width: 30px;">
            <img src="assets/icon/apartment.png">
        </ion-col>
        <ion-col style="max-width: 60%;">
            <ion-label class="ItEstEspeciales"> {{ESTitem.ESTciudad}}, {{ESTitem.ESTlocalidad}}</ion-label>
        </ion-col>
        <ion-col style=" text-align: right; max-width: 30px;">
                <img src="assets/icon/location-pin.png">
        </ion-col>
        <ion-col style=" max-width: 20%">
            <label class="ItEstEspeciales"> 12000 KM </label>
        </ion-col>
    </ion-row>            
</div>

